{% extends "base.html" %}
    {% block content %}
    <table class="table table-bordered">
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Note</th>
        <th>Wage</th>
        <th>Pay</th>
        {% for row in entries %}
        <tr>
            <td>{{row.creation_date}}</td>
            <td>{{row.start_time}}</td>
            <td>{{row.end_time}}</td>
            <td>{{row.duration}}</td>
            <td>{{row.note}}</td>
            <td>{{row.wage}}</td>
            <td>{{row.pay}}</td>
        <tr>
        {% endfor %}
    </table>
    {% endblock %}
