{% extends "base.html" %}
    {% block content %}
    <table class="table table-bordered">
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Duration</th>
        <th>Wage</th>
        <th>Pay</th>
        <th>Note</th>
        {% for row in entries %}
        <tr>
            <td>{{row.creation_date}}</td>
            <td>{{row.start_time}}</td>
            <td>{{row.end_time}}</td>
            <td>{{row.duration}}</td>
            <td>{{row.wage}}</td>
            <td>{{row.pay}}</td>
            <td>{{row.note}}</td>
            <td>
                <a href="{{url_for('views.paid', id=row.id)}}"><button class="btn btn-success">Paid</button></a>
            </td>
            <td>
                <a href="{{url_for('views.edit', id=row.id)}}"><button class="btn btn-warning">Edit</button></a>
            </td>
            <td>
                <a href="{{url_for('views.delete', id=row.id)}}"><button class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</button></a>
            </td>
        <tr>
        {% endfor %}
    </table>
    <p>Total: {{total}} </p>
    <a href="{{url_for('views.all_paid')}}" onclick="return confirm('Are you sure?')"><button class="btn btn-warning">All Paid</button></a>
    {% endblock %}
